* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-size: 10px;
}


/*---------------------
# Sección del navegador
----------------------*/


header {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: darkgrey;
}

.bodyGeneral {
    width: 160em;
    height: auto;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 6em 4em 6em;
}

.logo {
    background-image: url(../IMG/Black%20and%20White%20Natural%20Makeup%20Logo.png);
    background-size: cover;
    background-position: center;
    width: 45em;
    height: 10em;
    margin-top: 4em;
    background-color: black;
}

.encabezado {
    width: 110em;
    height: 10em;
    margin-top: 4em;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

@media only screen and (max-width: 1600px) {
    /* Laptop 1600px */
    body {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7px;
    }
}


/*-------------------------
# Sección de los productos
-------------------------*/

section {
    width: 100%;
    height: auto;
    background-color: darkgrey;
}

.producto {
    width: 38.5em;
    height: 60em;
    margin-top: 8em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
}

.img {
    width: 100%;
    height: 50em;
    background-color: gray;
    
}

.imgRGB {
    background-image: url(../img/375_375.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid #F05C07;
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
    color: darkgray;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 2em;
    text-align: justify;
    color: white;
}


/*-------------------------
# Sección mobil
-------------------------*/

@media only screen and (max-width:767px) {
    .bodyGeneral {
        width: 95%;
    }
    .logo {
        width: 30%;
        height: 10em;
        margin-top: 4em;
    }
    .encabezado {
        width: 65%;
        height: 10em;
        margin-top: 4em;
        background-color: #168374;
    }
    .bodyContenido {
        display: block;
    }
    .producto {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 50em;
        background-color: gray;
    }
}