* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-size: 10px;
}


/*---------------------
# Sección del navegador
----------------------*/


header {
    width: 100%;
    height: 18em;
    margin: auto;
    background-color: gray;
}

.bodyGeneral {
    width: 160em;
    height: 106em;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 6em 4em 6em;
}

.logo {
    background-image: url(../IMG/Black%20and%20White%20Natural%20Makeup%20Logo.png);
    background-size: cover;
    background-position: center;
    width: 45em;
    height: 10em;
    margin-top: 4em;
    margin-left: -5em;
    background-color: black;
}

.encabezado {
    width: 110em;
    height: 10em;
    margin-top: 4em;
    margin-right: 2em;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

.nav{
    font-family: 'Oswald', sans-serif;
    float: left;
    margin-left: 7em;
    margin-top: 4.5em;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav a{
    text-decoration: none;
    color: white;
    margin-right: 4.3em;
    font-size: 1.4em;
    border-radius: 0.3em 3px 3px 3px;
}

.nav a:hover{
    color: gray;
    
}


@media only screen and (max-width: 1600px) {
    /* Laptop 1600px */
    body {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7px;
    }
}


/*-------------------------
# Sección de los productos
-------------------------*/

section {
    width: 100%;
    height: 110em;
    background-color: gray;
}

.producto {
    width: 38.5em;
    height: 63em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
}

.producto:hover{
    color: black;
    opacity: 0.8;
}

.img {
    width: 100%;
    height: 80em;
    background-color: gray;
    
}

.imgRGB {
    background-image: url(../IMG/891-zara-ropa-homre-verano-2019-2656.jpg);
    background-size: cover;
    background-position: center;
}

.producto1 {
    width: 38.5em;
    height: 63em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
}

.producto1:hover{
    color: black;
    opacity: 0.8;
}

.img {
    width: 100%;
    height: 80em;
    background-color: gray;
    
}

.imgRGB1 {
    background-image: url(../img/854-tienda-de-ropa-zara-mujer-113.jpg);
    background-size: cover;
    background-position: center;
}

.producto2 {
    width: 38.5em;
    height: 63em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
}

.producto2:hover{
    color: black;
    opacity: 0.8;
}

.img {
    width: 100%;
    height: 80em;
    background-color: gray;
    
}

.imgRGB2 {
    background-image: url(../IMG/917-rebajas-zara-kids-moda-ni%C3%B1os-nueva-colecci%C3%B3n-primavera-826.jpg);
    background-size: cover;
    background-position: center;
}

.producto3 {
    width: 38.5em;
    height: 63em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border: none;
}

.producto3:hover{
    color: black;
    opacity: 0.8;
}

.img {
    width: 100%;
    height: 100%;
    background-color: gray;
    
}

.imgRGB3 {
    background-image: url(../IMG/ea109024ff3634b5de5511ce82ee6da8.png);
    background-size: cover;
    background-position: center;
}

.titulo {
    width: auto;
    height: auto;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 1.7em;
    color: whITE;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 1.2em;
    text-align: justify;
    color: white;
    font-family: inherit
}


/*-------------------------
# Sección mobil
-------------------------*/

@media only screen and (max-width:767px) {
    .bodyGeneral {
        width: 100%;
    }
    .logo {
        width: 20%;
        height: 10em;
        margin-top: 4em;
    }
    .encabezado {
        width: 100%;
        height: 10em;
        margin-top: 4em;
        background-color: black;
    }
    .bodyContenido {
        display: block;
    }
    .producto {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 100%;
        background-color: gray;
    }
}
